In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
                                              0.0/246.5 kB ? eta -:--:--
     ----                                     30.7/246.5 kB ? eta -:--:--
     ------                                41.0/246.5 kB 653.6 kB/s eta 0:00:01
     -----------------                    122.9/246.5 kB 901.1 kB/s eta 0:00:01
     ----------------------------           184.3/246.5 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 246.5/246.5 kB 1.2 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (23.1.2)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
                                              0.0/2.1 MB ? eta -:--:--
     -                                        0.1/2.1 MB 919.0 kB/s eta 0:00:03
     --                                       0.1/2.1 MB 1.1 MB/s eta 0:00:02
     --                                       0.1/2.1 MB 1.1 MB/s eta 0:00:02
     --                                       0.1/2.1 MB 655.8 kB/s eta 0:00:03
     ---                                      0.2/2.1 MB 778.2 kB/s eta 0:00:03
     -----                                    0.3/2.1 MB 983.9 kB/s eta 0:00:02
     -------                                  0.4/2.1 MB 1.2 MB/s eta 0:00:02
     ----------                               0.6/2.1 MB 1.5 MB/s eta 0:00:02
     -------------                            0.7/2.1 MB 1.7 MB/s eta 0:00:01
     ----------------------                   1.2/2.1 MB 2.5 MB/s eta 0:00:01
     ------------------------------           1.6/2.1 MB 3.2 MB/s eta 0:00:01
     ----------------------------------       1.8/2.1 MB 3.4 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 3.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-23.2.1

In [5]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2d/5e/9213ea10ac473e2437dc2cb17323ddc0999997e2713d6a0b683b10773994/pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/93/fd/3f826c6d15d3bdcf65b8031e4835c52b7d9c45add25efa2314b53850e1a2/numpy-1.26.0-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.26.0-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.1 kB ? eta -:--:--
     -------------------- ------------------- 30.7/61.1 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- 61.1/61.1 kB 820.0 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     --------------- ---------------------- 143.4/341.8 kB 1.2 MB/s eta 0:00:01
     --------------- ---------------------- 143.4/341.8 kB 1.2 MB/s eta 0:00:01
     --------------- ---------------------- 143.4/341.8 kB 1.2 MB/s eta 0:00:01
     ------------------------------ ------- 276.5/341.8 kB 1.1 MB/s eta 0:00:01
     -------------------------------- --- 307.2/341.8 kB 999.9 kB/s eta 0:00:01
     -------------------------------- --- 307.2/341.8 kB 999.9 kB/s eta 0:00:01
     ------------------------------------ 341.8/341.8 kB 884.3 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
    --------------------------------------- 0.3/10.6 MB 5.2 MB/s eta 0:00:02
   - -------------------------------------- 0.4/10.6 MB 4.5 MB/s eta 0:00:03
   - -------------------------------------- 0.4/10.6 MB 4.5 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/10.6 MB 5.7 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.6 MB 5.7 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.6 MB 5.7 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/10.6 MB 4.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/10.6 MB 4.9 MB/s eta 0:00:02
   ------- -------------------------------- 2.0/10.6 MB 5.5 MB/s eta 0:00:02
   -------- ------------------------------- 2.2/10.6 MB 5.2 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/10.6 MB 5.7 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/10.6 MB 6.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/10.6 MB 6.1 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.6 MB 6.4 MB/s eta 0:00:02
   --------------- ------------------------ 4.0/10.6 MB 6.5 MB/s eta 0:00:02
   ---------------- ----------------------- 4.4/10.6 MB 6.6 MB/s eta 0:00:01
   ----------------- ---------------------- 4.6/10.6 MB 6.6 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.6 MB 6.8 MB/s eta 0:00:01
   -------------------- ------------------- 5.4/10.6 MB 6.7 MB/s eta 0:00:01
   -------------------- ------------------- 5.4/10.6 MB 6.6 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/10.6 MB 6.8 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.6 MB 6.7 MB/s eta 0:00:01
   ------------------------ --------------- 6.6/10.6 MB 7.0 MB/s eta 0:00:01
   -------------------------- ------------- 7.1/10.6 MB 7.0 MB/s eta 0:00:01
   ---------------------------- ----------- 7.7/10.6 MB 7.3 MB/s eta 0:00:01
   ------------------------------- -------- 8.3/10.6 MB 7.6 MB/s eta 0:00:01
   ------------------------------- -------- 8.3/10.6 MB 7.4 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 7.5 MB/s eta 0:00:01
   ----------------------------------- ---- 9.3/10.6 MB 7.7 MB/s eta 0:00:01
   ----------------------------------- ---- 9.3/10.6 MB 7.7 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 7.5 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 7.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 7.2 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 7.6 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 7.8 MB/s eta 0:00:00
Downloading numpy-1.26.0-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/15.8 MB 10.2 MB/s eta 0:00:02
   - -------------------------------------- 0.7/15.8 MB 7.9 MB/s eta 0:00:02
   - -------------------------------------- 0.7/15.8 MB 7.9 MB/s eta 0:00:02
   - -------------------------------------- 0.8/15.8 MB 4.4 MB/s eta 0:00:04
   -- ------------------------------------- 1.1/15.8 MB 5.3 MB/s eta 0:00:03
   --- ------------------------------------ 1.3/15.8 MB 5.8 MB/s eta 0:00:03
   --- ------------------------------------ 1.6/15.8 MB 5.3 MB/s eta 0:00:03
   ---- ----------------------------------- 1.9/15.8 MB 5.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.2/15.8 MB 5.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.8/15.8 MB 6.7 MB/s eta 0:00:02
   -------- ------------------------------- 3.3/15.8 MB 7.1 MB/s eta 0:00:02
   ---------- ----------------------------- 4.2/15.8 MB 8.4 MB/s eta 0:00:02
   ------------ --------------------------- 4.9/15.8 MB 8.6 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/15.8 MB 9.2 MB/s eta 0:00:02
   ---------------- ----------------------- 6.4/15.8 MB 10.0 MB/s eta 0:00:01
   ---------------- ----------------------- 6.7/15.8 MB 10.4 MB/s eta 0:00:01
   ---------------- ----------------------- 6.7/15.8 MB 10.4 MB/s eta 0:00:01
   ------------------ --------------------- 7.1/15.8 MB 9.7 MB/s eta 0:00:01
   ------------------- -------------------- 7.9/15.8 MB 9.9 MB/s eta 0:00:01
   -------------------- ------------------- 8.0/15.8 MB 9.9 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/15.8 MB 9.3 MB/s eta 0:00:01
   --------------------- ------------------ 8.7/15.8 MB 9.6 MB/s eta 0:00:01
   ---------------------- ----------------- 8.7/15.8 MB 9.1 MB/s eta 0:00:01
   ------------------------- -------------- 10.0/15.8 MB 10.0 MB/s eta 0:00:01
   -------------------------- ------------- 10.4/15.8 MB 9.8 MB/s eta 0:00:01
   --------------------------- ------------ 10.9/15.8 MB 10.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.1/15.8 MB 11.1 MB/s eta 0:00:01
   ----------------------------- ---------- 11.7/15.8 MB 11.9 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.8 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.1/15.8 MB 10.9 MB/s eta 0:00:01
   --------------------------------- ------ 13.1/15.8 MB 10.9 MB/s eta 0:00:01
   --------------------------------- ------ 13.1/15.8 MB 10.9 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/15.8 MB 10.6 MB/s eta 0:00:01
   -------------------------------------- - 15.2/15.8 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  15.6/15.8 MB 10.6 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 9.6 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   -------------------------- ------------- 327.7/502.5 kB ? eta -:--:--
   -------------------------- ------------- 327.7/502.5 kB ? eta -:--:--
   ---------------------------------------- 502.5/502.5 kB 4.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
import json
from json import dumps

In [2]:
producer = KafkaProducer(bootstrap_servers=['40.90.249.251:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [5]:
# producer.send('topic_name',value={"hello":"world"})

In [6]:
df = pd.read_csv('bank_transactions.csv')

In [7]:
df.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [12]:
df.dtypes

TransactionID               object
CustomerID                  object
CustomerDOB                 object
CustGender                  object
CustLocation                object
CustAccountBalance         float64
TransactionDate             object
TransactionTime              int64
TransactionAmount (INR)    float64
dtype: object

In [15]:
# to generate a random row from our dataframe
df.sample(1)

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
582498,T582499,C4034585,12/1/85,M,GHAZIABAD,46350.55,27/8/16,150308,2238.0

In [53]:
df_small =df.head(10)

In [42]:
df_small

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [57]:
for i in df_small.index:
    result = df_small.iloc[i].to_dict()
    producer.send('topic_name',value=result)